@page
@model Hero.Pages.Admin.ListAllModel
@{
}
<div class="row bg-blur">
	
	<div class="col-md-3">
		<h1>List all views</h1>
		<ul>
			<li><a href="/Heroes/Index">List Heroes</a></li>
			<li><a href="/HeroItems/Index">List HeroeItems</a></li>
			<li><a href="/Items/Index">List Items</a></li>
			<li><a href="/Users/Index">List Users</a></li>
			
		</ul>
	</div>

</div>